@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*{

    margin: 0;
    padding: 0;
}
body{
    font-family: 'Sora', sans-serif;
}
.sign{
    padding: 8px 20px;
    margin: 0 auto;
}
.second{
    background-color:rgba(100, 31, 31, 0.418);
}
.design{
    box-shadow: 2px 5px 5px 5px  rgba(150, 146, 146, 0.295);
    border-radius: 20px;
}
.design:hover{
    background-color:rgba(233, 99, 99, 0.925);
    transition: 2s;
}
.design1:hover{
    background-color: turquoise;
    transition: 2s;
}
.design2:hover{
    background-color: rgb(245, 216, 55);
    transition: 2s;
}

